@keyframes gradient {
    0% {background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  .bg-animated {
    background: linear-gradient(270deg, #2d2d2d,#1a1a1a);
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
  }
  
  .b-orange {
    color: #ff6f00;
    font-weight: bold;
    transition: color 0.3s ease;
}

.b-orange:hover {
    color: #d35400;
}