.bg-light-gray {
    background-color: #333333;
}

.bg-dark-gray {
    background-color: #1a1a1a
}

.bg-lighter-gray {
    background-color: #262626
}

.bg-light-orange {
    background-color: #FFD8B4;
}

.b-orange {
    color: #FFD8B4;
    font-weight: bold;
    transition: color 0.3s ease;
}

.b-orange:hover {
    color: #FFD8B4;
}

.section-title {
    position: relative;
    font-size: 40px;
    text-align: center;
    color: #FFD8B4;
    font-weight: bold;
}


.section-title::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 65px;
    background-color: #FFD8B4;
    left: 50%;
    transform: translateX(-50%);
}



.section-title::after {
    bottom: 0;
}

.icons-container {
    display: flex;
    flex-wrap:wrap;
}

@media (max-width: 1024px) {
    .icon-container {
        display: block;
    }

    .icon-item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
}
@media (max-width: 769px) {
    .icon-container {
        display: block;
    }

    .icon-item {
        display: flex;
        align-items:center;
        margin-bottom: 10px;
    }
}